/* login.css */

body {
    background-color: #f8f9fa; /* Un fondo muy claro para la página */
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 3rem;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card-body {
    padding: 2rem;
}

.form-label {
    font-weight: 500;
    color: #495057;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #3AAFA9;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: #2B7A78;
    border-color: #2B7A78;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #3AAFA9;
    border-color: #3AAFA9;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}

a {
    color: #2B7A78;
    text-decoration: none;
}

a:hover {
    color: #3AAFA9;
    text-decoration: underline;
}

h2.text-center.mb-4 {
    color: #2B7A78;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 1.5rem;
    transform: translateY(15px);
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards 0.4s;
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
